* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 17vw;
  margin-right: 10vw;
  margin-bottom: 5px;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-button {
  border: 0;
  cursor: pointer;
  background-color: #585858;
  background-image: url("/images/search.png");
  padding: 8px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
 
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.category-list:hover {
  color: orange;
}

.lists-right {
 
  list-style: none;
  align-items: flex-end;
  text-align: right;
}


.user-nickname {
  text-decoration: none;
  text-decoration: underline;
  color: #333333;
  font-size: 15px;
}

.user-nickname:hover {
  color: #5DB3FD;
}


.logout {
  text-decoration: none;
  color: #333333;
  font-size: 13px;
}

.logout:hover {
  color: #EA6E55;
}

.login {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

.hidden{
  display: none;
}

.category-name{
  color: grey;
}

.search-form textarea {
  width: 38vw;
  height: 6vh;
  padding: 8px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  outline: none;
}


.search-form input[type="submit"] {
  height: 6vh;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-family: "游ゴシック", "YuGothic";
}

.search-form input[type="submit"]:hover {
  background-color: orange;
}