a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  height: 25vw;
  background-image: image-url('toppage_content1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 3.2vw;
  margin-bottom: 2.5vw;
}

.service-explain {
  font-size: 1.6vw;
  line-height: 3.5vw;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #585858;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid lightgrey;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #585858;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #ff9300;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */


/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #E8E7E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}
.second-item-contents {
  background-color: #E8E7E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5vh 0 10vh 0;
}

.item-contents>.title {
  font-size: 3vh;
  line-height: 1.4;
  font-weight: bold;
}

.category-title {
  height: 1vh;
  padding-top: 10vh;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  background-color: #E8E7E9;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3vh;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #E8E7E9;
}

.item-img-content {
  position: relative;
  width :33vh;
  border: 1px solid lightgrey;
}

.item-img-content-show {
  position: relative;
}


.item-img {
  width: 33vh;
  height: 29vh;
}

.item-img:hover{
  opacity: 0.5 ;
}

.sold-out {
  position: absolute;
  height: 8vh;
  padding: 1vh;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: grey;
  transform: skewY(-0deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 4vh;
}


.item-info {
  height: 100px;
  width: 33vh;
  background-color: #FFF;
  color: black;
  padding: 1.5vw 1.5vw 0.6vw 1.5vw;
  display: grid;
  align-content: space-between;
}

.search-item-nil {
  height: 10vh;
  width: 33vh;
  background-color: #E8E7E9;
  color: black;
  padding: 1vw;
}

.item-bottom-info {
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 2.1vh;
  word-wrap: break-word;
}

.item-price {
  font-size: 1.9vh;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.3vw;
  margin-bottom: 0.5vh;
}

.star-count {
  font-size: 2vh;
}

.comment-icon {
  height: 2.5vh;
  width: 2.5vh;
  margin-left: 0.5vw;
  margin-right: 0.2vw;
}

.comment-count{
  font-size: 2vh;
 
}

.edit-link-white {
  color: #fff;
}

.edit-link-white:hover {
  opacity: 0.5 ;
}

.edit-link {
  color: #000;
}

.edit-link:hover {
  opacity: 0.5 ;
}

.edit-link-red {
  color: red;
  text-decoration: underline;
}

.edit-link-red:hover {
  opacity: 0.5 ;
}

/* //商品一覧 */